@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #D3DFED;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: #FFFFFF;
  border-radius: .7rem;
  text-align: center;
  padding: 2rem;
  max-width: 35rem;
  margin: 1rem;
}

h1, input, h3 {
  font-weight: 400;
}

.want-to-know {
  font-size: 1rem;
}

input, button, p {
  font-size: 1.2rem;
  border-radius: .35rem;
}

input {
  width: 100%;
  height: 2.5rem;
  outline: none;
  padding-left: .5rem;
  border: .175rem solid #acc8e9;
}

input:focus {
  border: .175rem solid #3685FE;
}

input::placeholder {
  color: #acc8e9;
}

button {
  border: none;
  cursor: pointer;
  color: #FFFFFF;  
  padding: .5rem 2rem;
  background-color: #3685FE;
}

button:hover {
  color: black;
  background-color: #acc8e9;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;

  text-decoration: none;
  padding-top: 1rem;
  color: #3685FE;
}

.fa-brands {
  font-size: 1.75rem;
}

.modal {
  margin: auto;
  border: none;
  padding: 1rem 3.5rem;
  text-align: center;
  border-radius: .75rem;
}

.modal::backdrop {
  background: linear-gradient(45deg, #5d93e4, #002e74);
}

.modal[open] {
  animation: slide-up 1000ms forwards, fade-in 1000ms forwards;
}

.container-image {
  padding: 1rem 0rem;
}

@media only screen and (max-width: 425px) {
  body {
    background-color: #FFFFFF;
  }

  h3 {
    font-size: 1rem;
  }

  .modal {
    padding: 1rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
